.nav-item {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  vertical-align: middle;
}
.pagination{
  position: absolute;
  bottom:100px;
  right: 200px;
}
.navbar-dark{
  position: relative;
}
.search{
  font-size: 20px;
}
.search input{
  width: 120px;
}